body {
    text-align: center;
    margin: 0;
    padding-top: 800px;
}

.profile {
    width: 150px;
    height: 159px;
    margin-bottom: 50px;
    border-radius: 50%;
}

#Home {
    position: absolute;
    height: 800px;
    color: #FFFFFF;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.83;
    background-image: linear-gradient(to right bottom, #f69712, #f7aa01, #f5bd00, #f1d000, #ebe312);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9
}

h1 {
    color: mediumvioletred;
    font-size: 45px;
    font-family: courgette;
    font-weight: 300;
}

#Name {
    color: maroon;
    font-size: 40px;
    line-height: 1.2;
    font-family: bold;
    font-weight: bold;
}

h2 {
    color: crimson;
    font-size: 35px;
    font-weight: 300;
    line-height: 1.2;
    font-family: acme;
}

#About {
    background-image: linear-gradient(to right bottom, #121cf6, #005bff, #007eff, #009afc, #12b2eb);
    padding: 50px;
    text-align: center;
}


.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}

p {
    max-width: 450px;
    margin: 25px auto;
    font-size: 20px;
    line-height: 1.3;
    color: yellow;
}

.about_div {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

.menu {
    position: fixed;
    background: black;
    width: 100%;
    margin-top: 0px;
    top: 0px;
    z-index: 10;
    ;

}

.items {
    float: left;
    color: white;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: algerian;
    font-size: 20px;
    list-style: none;
}

.items:hover {
    background-color: dodgerblue;
}

#My Favourite Hobby {
    padding: 50px;
    text-align: center;
}

#My Work {
    padding: 50px;
    text-align: center;
}

#My Inspiration {
    padding: 50px;
    text-align: center;
}

img {
    transition: transform .2s;
    width: 400px;
    height: 300px;
    border: solid 5px;
    border-color: darkviolet;
}

img:hover {
    transform: scale(0.9);
}

a {
    text-decoration: none;
}

a:hover {
    color: darkgreen;
}

html {
    scroll-behavior: smooth;
}

span {
    padding: 50px;
}

#Contacts {
    background: firebrick;
}

.Contact_1 a {
    color: aqua;
    text-shadow: none;
}

.Contact_1 h3 {
    display: inline;
}

#icon {
    width: 100px;
    height: 100px;
    border: solid 3px;
    border-color: blue;
    border-radius: 50%;
    text-align: center;
}
